{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        
        <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
        
        <link rel="stylesheet" type="text/css" href="{% static 'sense/stylesheet.css' %}"/>
        
        <script type="text/javascript" src="{% static 'sense/script.js' %}"></script>
        
        <script type="text/javascript" src="{% static 'sense/ScrollToPlugin.js' %}"></script>

        
	</head>
    
    
	<body>
        
        
        
<!--    Background******   --> 
        <div id="background">
               
        </div>
    
<!--    Header**********   --> 
        <div id="header">SuitsYou
        <div>
<a href="#"><img id="menu" src="{% static 'sense/images/logo.png' %}" height="30" width="30" ></a>    </div>
            <div id="sitename">
                
            </div>
            
           
    
        </div>
        
        <div id="search">
               <div id="type">
                   <textarea rows="1" cols="80">How can we help you today?</textarea>
         </div>
                
            <div id="lens"></div>
        </div>
        
         
  
<!--    Userbar**********   -->
        <div id="control">
            <div class="settings"></div>
            <div class="orders"></div>
            <div class="compatible"></div>
            <div class="more"></div>
        </div>

<!--    Sidebar**********   -->        
        <div id="sidebar">
            <div id="smenu"></div>
            <div id="smenu"></div>
            <div id="smenu">HOME</div>
            <div id="smenu">LIKED</div>
            <div id="smenu">ACCOUNT</div>
            <div id="smenu">MORE</div>
            <div id="smenu"></div>
            <div id="smenu"></div>
            <div id="smenu">ACCOUNT</div>
            <div id="smenu">MORE</div>

        </div>      
        
<!--    Big Circles**********   --> 
<div id="bigc">   
        <div id="cone">
            <div id="ul">UPLOAD</div>
            <div class="f"><div class="uploadw">W</div></div>
            <div class="m"><div class="uploadm">M</div></div>

        </div>
        <div id="ctwo">
            <div id="co">COMPATIBLE</div>
        </div>
        </div>
        <div id="cthree">
            <div id="co3">MEN'S</div>
        </div>
        <div id="cfour">
            <div id="co4">WOMEN'S</div>
        </div>
</div>   
      

***************men shirts*****

<div id="win1">

        <div class="win1bar">
            <div class="close"> </div>
        </div>
        <div class="win1contain"> 
            
            <div class="win1contain1">
    <a href="#"><img class="win1contain1pic" src="images/Types/Men/shirts/casual.jpg" style="height:250px;width:250px"></a>
            </div>
            
            <div class="win1contain2">
    <a href="#"><img class="win1contain2pic" src="images/Types/Men/shirts/striped.jpg" style="height:250px;width:250px"></a>
            </div>

            <div class="win1contain3">
    <a href="#"><img class="win1contain3pic" src="images/Types/Men/shirts/formal.jpg" style="height:250px;width:250px"></a>
            </div>

            <div class="win1contain4">
    <a href="#"><img class="win1contain4pic" src="images/Types/Men/shirts/solid.jpg" style="height:250px;width:250px"></a>
            </div>
            
            <div class="win1contain5">
    <a href="#"><img class="win1contain5pic" src="images/Types/Men/shirts/casual.jpg" style="height:250px;width:250px"></a>
            </div>
    
        </div>
        </div>

******************women salwar******
    

<div id="win2">

        <div class="win1bar">
            <div class="close"> </div>
        </div>
        <div class="win1contain"> 
            
            <div class="win1contain1">
    <a href="#"><img class="win1contain1pic" src="images/Types/Women/Salwar/plazzo%20pants.jpg" style="height:250px;width:250px"></a>
            </div>
            
            <div class="win1contain2">
    <a href="#"><img class="win1contain2pic" src="images/Types/Women/Salwar/dhoti.jpg" style="height:250px;width:250px"></a>
            </div>

            <div class="win1contain3">
    <a href="#"><img class="win1contain3pic" src="images/Types/Women/Salwar/harem%20pants.jpg" style="height:250px;width:250px"></a>
            </div>

            <div class="win1contain4">
    <a href="#"><img class="win1contain4pic" src="images/Types/Women/Salwar/jodhpuri%20salwar.jpg" style="height:250px;width:250px"></a>
            </div>
            
            <div class="win1contain5">
    <a href="#"><img class="win1contain5pic" src="images/Types/Women/Salwar/parellel%20salwar.jpg" style="height:250px;width:250px"></a>
            </div>
    
        </div>
        </div>
    
        
*******************
          
 <div id="smallc">       
        <div id="catshirts">
            <div id="cattxt1">SHIRTS</div>
        </div>        
        <div id="catjeans">
            <div id="cattxt2">JEANS</div>
        </div> 
        <div id="catshoes">
            <div id="cattxt3">SHOES</div>
        </div>
        <div id="catwatches">
            <div id="cattxt4">WATCH</div>
        </div>
        <div id="cathats">
            <div id="cattxt5">HATS</div>
        </div>
     <!--   <div id="catbelts">
            <div id="cattxt6">BELTS</div> -->
        </div>
        <div id="catglasses">
            <div id="cattxt7">SHADES</div>
        </div>
        
       
        <div id="catsalwars">
            <div id="cattxt8">SALWAR</div>
        </div>        
        <div id="catkurtas2">
            <div id="cattxt9">KURTA</div>
        </div> 
        <div id="catkurtis">
            <div id="cattxt10">KURTI</div>
        </div> 
        <div id="cattops">
            <div id="cattxt11">TOP</div>
        </div>
        <div id="catdresses">
            <div id="cattxt12">DRESS</div>
        </div>
        <div id="catjeans2">
            <div id="cattxt13">JEANS</div>
       <!-- </div>
        <div id="catfoots">
            <div id="cattxt14">FOOT</div>
        </div>
        <div id="catwatches2">
            <div id="cattxt15">WATCH</div>
        </div>
        <div id="cathats2">
            <div id="cattxt16">HATS</div>
        </div>
        <div id="catbelts2">
            <div id="cattxt17">BELTS</div>
        </div>
        <div id="catglasses2">
            <div id="cattxt18">SHADES</div>
        </div>
-->      
</div>       

        
    </body>
</html>









